<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>CRM WEB App</display-name>
    <listener>
        <listener-class>
            com.hillel.crm.listener.HibernateSessionFactoryListener
        </listener-class>
    </listener>
</web-app>
